body
{
    width: 100vh;
    height: 100%;
    font-family: 'Paprika';
}

.item
{
    color: white;
    font-weight: 400;
    list-style-type: none;
    align-self: center;
    justify-self: center;
    text-decoration: none;
    margin-top: 15px;

}

.base
{
    font-weight: 600 !important;
}

p
{
    line-height: 18px;
    font-size: 18px;
}

.base
{
    margin-top: -15px !important;
}

header
{
    position: fixed;
    z-index: 999;
}

.menu
{
    width: 1590px;
    height: 50px;
    font-size: 25px;

    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: black;
}

.separado
{
    text-decoration: none;
    color: white;
    align-self: center;
    position: fixed;
    left: 20px;
}

.lista
{
    width: 100vh;

    position: fixed;
    left: 780px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

a:hover {
    color: gray!important;
}

.carrossel
{
    position: absolute;
    top:70px;
}

.atributos
{
    width: 50%;
    font-family: 'Manjari';
    position: absolute;
    top: 515px;
    left: 30px;
}

#simbolo
{
    width:700px;
    position: absolute;
    top: 630px;
    right: 45px;
}

h4
{
    font-family: 'Love Ya Like A Sister';
}

h3
{
    text-justify: auto;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Paprika';
}

.item2
{
    font-weight: bolder;
    font-size: 35px;
}


.origens
{
    width: 50%;
    font-family: 'Manjari';
    position: absolute;
    top: 1350px;
    left: 30px;
}

.combatente
{
    width: 100%;
}

.texto
{
    width: 0%;
    font-family: 'Manjari';
    font-size: 20px;
}

#comb
{
    position: absolute;
    top: 50px;
    left: 500px;
}

.tit
{
    font-size: 80px;
    font-family: 'Love Ya Like A Sister';
}

.classes
{
    position: absolute;
    top: 3700px;
}

.trilhas
{
    position: absolute;
    top: 5800px;
    left: 10px;
    width: 95%;
}

#imgesp
{
    position: absolute;
    left: 1095px;
    top: 720px;
}

#espec
{
    position: absolute;
    left: 490px;
}

.ocultista
{
    position: absolute;
    top: -70px
}

#ocul
{
    position: absolute;
    left: 500px;
    top: 1450px;
}

#imgocul
{
    position: absolute;
    left: 30px;
    top: 1440px;
}

a
{
    color: white;
    text-decoration: none;
}

.ori
{
    width: 65%;
    position: absolute;
    left: 500px;
    top: 50px;
}

.ori2
{
    width: 65%;
    position: absolute;
    left: 1030px;
    top: 50px;
}

.ori3
{
    margin-top: 23px;
    width: 728px;
}

.ori4
{
    width: 725px;
    position: absolute;
    left: 780px;
    top: 1316px;
}

.origem_qual{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 13px;
}

.tori
{
    margin-top: -15px;
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 20px;
}

.tri
{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Love Ya Like A Sister';
    font-weight: bold;
}

.vermelho
{
    color: red;
    font-family: 'Julee';
    font-size: 23px;
}

#aop
{
    width: 915px;
    position: absolute;
    left: 590px;
    top: 703px;
}

.arrumar
{
    width: 92%;
}

.arrumar1
{
    width: 83%;
}

.arrumar2
{
    width: 85%;
}

.line
{
    width: 3px;
    height: 710px;
    background-color: black;
    position: absolute;
    left: 1020px;
    top: 50px;
}

.line2
{
    width: 3px;
    height: 1010px;
    background-color: black;
    position: absolute;
    left: 780px;
    top:2659px;
}

.descclasse
{
    width: 600px;
}

#caraccomb
{
    position: absolute;
    left: 150px;
    top: 251px;
}

#tabcomb
{
    position: absolute;
    left: 650px;
    top: 71px;
    width: 330px;
}

#caracesp
{
    position: absolute;
    top: 291px;
    left: 150px;
}

#tabesp
{
    position: absolute;
    width: 300px;
    left: -400px;
    top: 60px;
}

#caracocul
{
    position: absolute;
    left: 150px;
    top: 329px;
}

#tabocult
{
    position: absolute;
    left: 650px;
    top: 71px;
    width: 300px;
}

.linhahorizontal
{
    background-color: black;
    width: 1560px;
    height: 3px;
    margin-bottom: 20px;
}