body
{

}

.item
{
    color: black !important;
    font-weight: bold !important;
}

.base
{
    font-weight: bold !important;
}

p
{
    line-height: 18px;
}

.base
{
    margin-top: -15px !important;
}

.atributos
{
    width: 45%;
    background-image:url("img/pergaminho.png");
}