body
{
    width: 100vh;
    height: 100%;
    position: relative;

    margin: 0px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    font-family: 'Manjari';
    font-size: 22px;
}

#config
{
    position: absolute;
    top: 2px;
}

#criar
{
    position: absolute;
    top: 5px;
    left: 60px;
}

.criarqual
{
    width: 200px;
    height: 30px;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background: #D9D9D9;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

.principal
{
    width: 300px;
    font-size: 25px;
    font-weight: bold;

    position: absolute;
    left: 680px;
    top: 12px;
}

.salvar
{
    width: 80px;
    height: 30px;
    background-color: #399E37;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 5px;
    left: 1495px;
}

.tudo
{
    position: absolute;
    top: 25px;
    margin-top: 15px;
    border:solid;
    border-color: black;
    border-width: 2px;
    border-radius: 3px;
    width: 1530px;
    height: 380px;
    padding: 20px;
}

.opcaonome
{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.nome
{
    width: 835px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 30px;
    border: solid 2px;
}

.valor
{
    width: 120px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 40px;
    text-align: center;
    margin-left: 50px;
    border: solid 2px;
}

.selecao
{
    width: 400px;
    height: 60px;
    background-color: #D9D9D9;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border: solid 2px;
}


.opcoes
{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 280px;
    justify-content: space-between;
    padding: 30px;

    flex-wrap: wrap;
}

.opcoes2
{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-self: center;
    width: 900px;
    height:290px;
    justify-content: space-between;
    padding: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 115px;
    left: 550px;
}

.info
{
    font-size: 35px;
    font-family: 'Manjari';
    font-weight: bolder;
}

.um
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-justify: center;
}

.num
{
    margin-left: 50px;
}

.equipamento
{
    width: 1150px;
    height: 40px;
    position: relative;

    background-color: transparent;

    border: solid 3px;
    border-color: rgb(150, 150, 150);
    position: relative;

    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.equipamento:hover {
    background-color: rgb(150, 150, 150);
}

.id
{
    border: solid;
    width: 30px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.nome_equip
{
    border: solid;
    width: 200px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.dano
{
    border: solid;
    width: 100px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.critico
{
    border: solid;
    width: 80px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.tipo
{
    border: solid;
    width: 150px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.categoria
{
    border: solid;
    width: 80px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.alcance
{
    border: solid;
    width: 120px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.municao
{
    border: solid;
    width: 250px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.espaco
{
    border: solid;
    width: 40px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.delete
{
    border: solid;
    width: 40px;
    height: 37px;
    border-color: rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center
}

.lista
{
    position: absolute;
    left: 220px;
    top: 485px;
}